.header-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    justify-content: end;
    // position: fixed;
}

.header {
    color: #000000;
    text-decoration: none;
    padding: 2px;
}
