::-webkit-scrollbar {
    display: none;
}

.wrap-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap-header {}

.wrap-main {
    flex-grow: 1;
    overflow: auto;
    height: 100%;
    // padding-top: 10px // padding: 16px;
}

.wrap-footer {
    margin-top: 16px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #F5F7F8 !important;
}
